.file-viewer {
    padding: 20px;

    .directory, .file{
      display: inline-block;
      height: 100px;
      width: 100px;
      margin: 15px;
      text-align: center;

      img {
        height: calc(100% - 20px);
      }
    }
}
