.home-page {
  .top-bar {
    border: 1px solid black; 
  }
  .file-viewer {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 500px;
  }
}
